---
export async function getStaticPaths() {
  const productos = `query {
    Productos {
      modeloProducto
      imagen {
        url
      }
      brand
      precioProducto
    }
  }`;

  const response = await fetch("https://graphql.apirocket.io", {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
      "Authorization": "Bearer J1dxg1LVe89lwSOh3Svf2eAL8L8ZH3eXX7MasOLVTpFZo1tMUWF01VkmfqlSFmd-",
    },
    body: JSON.stringify({ query: productos }),
  });

  const data = await response.json();
  const productosData = data.data?.Productos;

  return productosData.map(producto => ({
  params: { pepe: [producto.modeloProducto] },
  props: { product: producto }
}));
}

const { params, product } = Astro.props;
---



<html>
  <head>
    <title>{product.modeloProducto}</title>
  </head>
  <body>
    <h1>{product.modeloProducto}</h1>
    <h2>{product.brand}</h2>
    <img src={product.imagen.url} alt={product.modeloProducto} />
    <p>Precio: {product.precioProducto} €</p>
  </body>
</html>
