---
//este archivo es en estatico porque lo que hace es una pagina por cada uno de los productos y los manda al cliente

import { customSlugify } from '../../utils/mySlugify';

export async function getStaticPaths() {
  const productos = `query {
    Productos {
      modeloProducto
      imagen {
        url
      }
      brand
      precioProducto
    }
  }`;

  const response = await fetch("https://graphql.apirocket.io", {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
      "Authorization": "Bearer J1dxg1LVe89lwSOh3Svf2eAL8L8ZH3eXX7MasOLVTpFZo1tMUWF01VkmfqlSFmd-",
    },
    body: JSON.stringify({ query: productos }),
  });

  const data = await response.json();
  const productosData = data.data?.Productos;

  // Generar rutas con marca y modelo "slugificados"
  return productosData.map((producto) => {
    return {
      params: {
        modelo: `/${customSlugify(producto.brand)}/${customSlugify(producto.modeloProducto)}`,
      },
      props: { product: producto },
    };
  });
}

const { brand, modelo, product } = Astro.props;
---

<html>
  <head>
    <title>{product.modeloProducto}</title>
  </head>
  <body>
    <h1>Producto: {product.modeloProducto}</h1>
    <h2>Marca: {product.brand}</h2>
    <img src={product.imagen.url} alt={product.modeloProducto} />
    <p>Precio: {product.precioProducto} €</p>
  </body>
</html>
