---

const productos = `query {
  Favoriteproducts(filter: {promotion: {eq: true}}) {
    model
    price
    productimage {
      url
    }
    brand
  }
}
`;

const dataProducts = await fetch("https://graphql.apirocket.io", {
	"method": "POST",
	"headers": {
		"Content-Type": "application/json",
		"Authorization": "Bearer J1dxg1LVe89lwSOh3Svf2eAL8L8ZH3eXX7MasOLVTpFZo1tMUWF01VkmfqlSFmd-",
	},
	"body": JSON.stringify({query: productos})
})
.then(response => response.json())
.catch(err => { console.error(err); });

console.log(dataProducts.data)

const allProducts = dataProducts.data?.Favoriteproducts

---

<section class="mt-5">
    <span>14555 artículos mostrados </span>
    <div class="grid grid-cols-3 place-content-between gap-2 mt-7">
        {allProducts.map((product: any) => 
                                <div class="flex flex-col my-3">
                                    <a href="/producto/">
                                        <img class="xl:max-w-2xs h-auto" src={product.productimage.url} alt={product.model}>
                                        <h3>{product.brand}</h3>
                                        <h5>{product.model}</h5>
                                        <h6 class="text-red-600">{product.price} €</h6>
                                    </a>
                                </div>  
                        )   
        }
    </div>
</section>