---
import IMAGENES from "../data/imagenes.json";

---

<div class="swiper mySwiper overflow-visible!">
    <div class="swiper-wrapper ">
        {IMAGENES.map(imagen => 
                        <div class="swiper-slide">
                            <img src= {imagen.url} alt= {imagen.modelo} />
                            <h3 class="mt-4">{imagen.modelo}</h3>
                            <p>{imagen.descripcion}</p>
                            <p>{imagen.precio}</p>
                        </div>
                    )
        }
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>

<!-- Swiper JS -->
<script defer src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 4,               // Muestra 4 imágenes por defecto
        spaceBetween: 20,               // Espacio de 20px entre las imágenes
        slidesPerGroup: 4,              // Desplaza 4 imágenes a la vez
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        breakpoints: {
            0:{
                slidesPerView: 2,
                slidesPerGroup:2,
            },
            // Cuando la pantalla tenga un ancho de 640px o menos, se mostrarán 2 imágenes
            640: {
                slidesPerView: 2, 
                slidesPerGroup: 2,  // Desplaza 2 imágenes a la vez
            },
            // Cuando la pantalla tenga un ancho de 768px o menos, también se mostrarán 2 imágenes
            768: {
                slidesPerView: 4, 
                slidesPerGroup: 4,  // Desplaza 2 imágenes a la vez
            },
        },
        // Usamos la propiedad resizeObserver para actualizar dinámicamente el layout
        resizeObserver: true,  // Activar el ajuste dinámico al cambiar el tamaño de la pantalla
    });
</script>

