---
import {customSlugify} from '../../utils/mySlugify.ts';

// Importar variables de entorno y la metemos en una constante para despues usarla en la llamada a la API
const SECRET_TOKEN = import.meta.env.SECRET_API_TOKEN;


const productos = `query {
  Favoriteproducts {
    id
    brand
    model
    price
    tallaZapato
    color
    productimage {
      url
    }
  }
}
`;

const dataProducts = await fetch("https://graphql.apirocket.io", {
	"method": "POST",
	"headers": {
		"Content-Type": "application/json",
		"Authorization": `Bearer ${SECRET_TOKEN}`,
	},
	"body": JSON.stringify({query: productos})
})
.then(response => response.json())
.catch(err => { console.error(err); });

const allProducts = dataProducts.data?.Favoriteproducts

//console.log(allProducts);

---

<section class="mt-5">
    <span>14555 artículos mostrados </span>
    <div class="grid grid-cols-3 place-content-between gap-2 mt-7">
        {allProducts.map((product: any) => 
                                <articulo class="flex flex-col my-3" data-product data-talla={ product.tallaZapato } data-color={ product.color }>
                                    <a href={`/${customSlugify(product.brand)}/${customSlugify(product.model)}--${product.id}`} target="_blank">
                                        <img class="xl:max-w-2xs h-auto" src={product.productimage.url} alt={product.model} />
                                        <h3>{product.brand}</h3>
                                        <h5>{product.model}</h5>
                                        <h6 class="text-red-600">{product.price} €</h6>
                                    </a>
                                </articulo>  
                        )   
        }
    </div>
</section>

<script>
  // Escucha el evento 'filtrado' en el documento o en el contenedor de filtros
  document.addEventListener('filtrado', (e) => {
    filtrarProductos(e.detail.filtros);
  });

  //funcion filtrado
</script>