---
import Filtro from "./Filtro.astro";
import FiltrosCategoria from "../../data/filtrosCategoria.json";

import { number } from "astro:schema";

/* PARA SACAR LA SECUENCIA DE NUMEROS DEL 7 AL 55
const start = 7;
const end = 55;
const numbers = Array.from({ length: end - start + 1 }, (_, i) => start + i);
*/

//console.log (filtrosCategoria);
---

<!-- Contenedor del acordeón -->
<section id="accordion-example" class="flex flex-wrap gap-3">

  {FiltrosCategoria.map(filtro => (
    <Filtro idf={filtro.idf} titulo={filtro.titulo} nombre={filtro.nombre} valores={filtro.valores} colores={filtro.colores} tipo={filtro.tipo}/>
  ))}


  <div class="flex items-center justify-between p-3 gap-2 font-medium rtl:text-right text-gray-800 border border-gray-700 hover:bg-gray-100 transition">
    <svg viewBox="0 0 24 24" width="1em" height="1em" fill="currentColor" focusable="false" aria-hidden="true">
      <path d="M.75 8.25h11.326A4.49 4.49 0 0 0 16.5 12a4.496 4.496 0 0 0 4.424-3.75h2.326a.75.75 0 0 0 0-1.5h-2.326C20.566 4.624 18.728 3 16.5 3s-4.066 1.624-4.424 3.75H.75a.75.75 0 0 0 0 1.5M16.5 4.5a3 3 0 1 1 0 6 3 3 0 0 1 0-6m6.75 11.25H11.924C11.566 13.624 9.728 12 7.5 12s-4.066 1.624-4.424 3.75H.75a.75.75 0 0 0 0 1.5h2.326A4.49 4.49 0 0 0 7.5 21a4.496 4.496 0 0 0 4.424-3.75H23.25a.75.75 0 0 0 0-1.5M7.5 19.5a3 3 0 1 1 0-6 3 3 0 0 1 0 6">          
      </path>
    </svg>
    <p class="ml-3">Mostrar más filtros</p>
  </div>


</section>
